$red1:#ff0000;
$red2:#ff2400;
$red3:#f70d1a;
$red4:#e41b17;

$pink1:#f660ab;
$pink2:#f52887;
$pink3:#ff00ff;
$pink4:#f433ff;

$violet1:#8d38c9;
$violet2:#842dce;
$violet3:#8e35ef;
$violet4:#a23bef;

$black1:#000000;
$black2:#0c090a;
$black3:#2b1b17;
$black4:#34282c;

$gray1:#e5e4e2;
$gray2:#d1d0ce;
$gray3:#25383c;
$gray4:#2c3539;



